custom.el
history
org-clock-save.el
dired-history
recentf
projectile.cache
projectile-bookmarks.eld
places
tramp
smex-items
secrets/*
lib/*
image-dired/*
backup/*
straight/*
elpa/*
snippets/*
transient/*
url/*
.cache/*
.mc-lists.el
.lsp-session-*